.*
!/.bazelversion
!/.custom-gcl.yaml
!/.gitattributes
!/.gitignore
!/.golangci.yaml
!/.markdownlint.yaml
!/.mockery.yaml
!/.pre-commit-config.yaml
!/.prettierrc.yaml
!/.yamlfmt
!/.yamllint
!/.forgejo/
!/.github/
!/.woodpecker/
cover.out
/trace.out
/test.xml
/scopeguard
/bazel-*
/bin/
/out/
/dist/
/examples/
