.*
!/.*.yaml
!/.bazelversion
!/.gitattributes
!/.github/
!/.gitignore
!/.woodpecker/
!/.yamlfmt
!/.yamllint
/.goreleaser.yaml
/bazel-*
/bin/
/cover.out
/dist/
/golangci-lint
/out/
/scopeguard 
/test.xml
/trace.out
