.*
!/.gitignore
!/.gitattributes
!/.yamlfmt
!/.yamllint
!/.markdownlint.yaml
!/.prettierrc.yaml
!/.pre-commit-config.yaml
!/.bazelversion
!/.custom-gcl.yaml
!/.golangci.yaml
!/.github/
!/.woodpecker/
cover.out
/trace.out
/test.xml
/scopeguard
/bazel-*
/bin/
/out/
/dist/
/examples/
